/* color */
$color-black: #425966;
$color-primary: #d84a4a;
$color-white: #fff;

/* fonts */
$font-regular: "Poppins-Regular", sans-serif;
$font-medium: "Poppins-Medium", sans-serif;
$font-semiBold: "Poppins-SemiBold", sans-serif;
$font-bold: "Poppins-Bold", sans-serif;
$font-main: "MonsterClubhouse", sans-serif;

/* config */
$shadow: 0px 3px 6px #8395a7;
$shadow-main: 4px 6px 10px #bfc4cad1;
$bg-primary: transparent linear-gradient(180deg, #e9f1fa 0%, #ffffff 100%) 0% 0%
  no-repeat padding-box;
